h1, h2, h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500; }

body {
  overflow-x: hidden; }

.logo {
  background: url("../images/upprleft-logo.png") no-repeat;
  position: absolute;
  background-size: contain;
  display: block;
  height: 58px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
  text-indent: -9999px;
  padding: 0;
  border: none;
  margin-top: 20px; }

#contact-link {
  margin-left: 60px; }
  #contact-link a:hover {
    color: #252525;
    background-color: inherit; }
  #contact-link a:before {
    content: "";
    color: #252525;
    position: absolute;
    width: 90%;
    margin-left: 5px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #252525;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  #contact-link a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.navbar-nav {
  width: 100%;
  text-align: center;
  color: #252525; }
  .navbar-nav > li, .navbar-nav a {
    float: none;
    display: inline-block;
    color: #252525;
    font-size: 1.3em;
    text-decoration: none; }
    .navbar-nav > li a:hover, .navbar-nav a a:hover {
      color: #252525;
      background-color: inherit; }
    .navbar-nav > li a:before, .navbar-nav a a:before {
      content: "";
      color: #252525;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #252525;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .navbar-nav > li a:hover:before, .navbar-nav a a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  .navbar-nav li {
    margin-left: 5px;
    margin-right: 15px; }
  .navbar-nav .navbar-brand {
    font-size: 1.7em; }

.navbar {
  display: flex;
  background-color: white; }
  .navbar ul {
    justify-content: center; }
  .navbar a {
    color: #252525;
    font-size: 1.3em; }
  .navbar .navbar-toggle {
    background-color: white; }

.navbar-bottom {
  border-radius: 0;
  margin-bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px; }

.titleBar {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  position: absolute;
  margin-top: -250px;
  height: 150px; }
  .titleBar .titleBarInner {
    display: flex;
    justify-content: center; }
    .titleBar .titleBarInner .title {
      font-size: 3em; }
    .titleBar .titleBarInner .subtitle {
      font-size: 2em; }

.arrows {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  position: relative;
  bottom: 400px;
  color: white;
  margin: 0 auto;
  cursor: pointer; }
  .arrows .fa {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px;
    border-radius: 2px; }

.carouselItem img {
  width: 100%;
  height: auto;
  max-height: 1200px; }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row .postTease {
    flex: 2 50%; }
    .row .postTease:nth-child(1) {
      flex: 1 70%; }
    .row .postTease:nth-child(2) {
      flex: 2 30%; }
    .row .postTease:nth-child(3) {
      flex: 2 30%;
      height: 300px; }
    .row .postTease:nth-child(4) {
      flex: 2 70%; }
    .row .postTease:nth-child(5) {
      flex: 2 70%;
      height: 300px; }
    .row .postTease:nth-child(6) {
      flex: 2 30%; }
    .row .postTease .img {
      display: inline-block;
      position: relative;
      overflow: hidden;
      width: 100%;
      margin-bottom: -5px; }
      .row .postTease .img img {
        width: 100%;
        height: 60vh; }
      .row .postTease .img .overlay {
        position: absolute;
        display: block;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.45);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
        .row .postTease .img .overlay .overlayText {
          margin: 0 auto;
          color: white;
          font-size: 2.3em; }
        .row .postTease .img .overlay:hover {
          opacity: 1; }

.pageBreak {
  color: grey;
  padding-bottom: 50px; }
  .pageBreak h3 {
    font-weight: 300; }
  .pageBreak h2 {
    font-size: 3em;
    margin-left: 15px;
    margin-top: 50px;
    letter-spacing: .3em;
    color: black; }
  .pageBreak .fa {
    display: flex;
    justify-content: center;
    font-size: 4em; }

.post-photo {
  width: 100%;
  height: auto;
  max-height: 1200px; }

/**************
Blog post
*************/
.post {
  font-family: "Oswald", sans-serif; }
  .post h2 {
    text-align: center;
    margin-top: 50px; }
  .post h4 {
    text-align: center;
    margin-bottom: 50px; }

.post-body {
  font-size: 1.3em; }
  .post-body blockquote {
    font-family: "Karla", sans-serif;
    font-style: italic;
    font-size: 1.5em;
    color: lightgrey; }

.imgGrid {
  display: flex; }
  .imgGrid div {
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%; }
    .imgGrid div #articleImg1 {
      width: auto;
      height: 300px;
      padding-bottom: 30px; }
    .imgGrid div #articleImg2 {
      width: 650px;
      height: 300px;
      padding-left: 30px;
      padding-bottom: 30px; }
    .imgGrid div #articleImg3 {
      width: 620px;
      height: 300px;
      padding-bottom: 30px; }
    .imgGrid div #articleImg4 {
      width: auto;
      height: 300px;
      padding-left: 30px;
      padding-bottom: 30px; }

.comment {
  display: flex;
  justify-content: center;
  border: solid 2px;
  width: 170px;
  text-align: center;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto; }

.comment-form {
  text-align: center; }

input {
  height: 40px;
  width: 75%;
  float: right;
  margin-right: 100px; }

textarea {
  height: 40px;
  width: 75%;
  float: right;
  margin-right: 100px; }

.commentSection {
  margin-top: 100px;
  margin-bottom: 100px; }
  .commentSection .saveBtn {
    margin-top: 20px; }

.comment-display {
  float: left;
  border: lightgray solid 2px;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  height: 60px; }

/**************
Admin section
*************/
.edit-post {
  margin-top: 50px; }

/*# sourceMappingURL=stumptown-beans.css.map */