<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'about'}}FEATURES{{/link-to}}</li>
        <li>{{#link-to 'about'}}ABOUT{{/link-to}}</li>
        <a class="navbar-brand" href="/" class='logo'>UPPRLEFT</a>
        <li id="contact-link">{{#link-to 'contact'}}CONTACT{{/link-to}}</li>
        <li>{{#link-to 'shop'}}SHOP{{/link-to}}</li>
        <li class='pull-right'>{{#link-to 'cart' class='cart pull-right'}}{{fa-icon "shopping-cart" size="lg" class='cart'}}{{/link-to}}</li>
        {{#if session.isAuthenticated }}
        <div class='profile-pic' class='pull-right'>
          <img src={{session.currentUser.profileImageURL}} alt='profile picture' class='profile-pic'>
        </div>
        {{/if}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div>
  {{outlet}}
</div>
<footer>
</footer>
<div class="navbar navbar-bottom" role="navigation">
<div class="container">
    <div class="navbar-text pull-left">
      <p>© 2016 {{#link-to 'index'}}UPPRLEFT{{/link-to}} </p>

    </div>
</div>
</div>
